@charset "UTF-8";
/* Sinisävyinen teema */
$basic-color: #004494;
$button-bg-color: $basic-color;
$editline-bg-color: $basic-color;
$areacollapse-color: $basic-color;
$tab-bg-color: $basic-color;
$csrundiv-color: $basic-color;
$note-private-color: $basic-color;
$csrunmenu-button-bg-color: $basic-color;
$csrunmenu-link-color: $basic-color;
$timbutton-bg-color: $button-bg-color;
$viewlogin-link-color: $basic-color;
$draghandle-bg-color: $basic-color;
$icon-color: $basic-color;
$icon-hover-color: darken($basic-color, 10%);

$brand-primary: $basic-color;
$link-color: $brand-primary;
