{% macro scss(name) -%}
    {% assets
depends=(
"stylesheets/*.scss",
"stylesheets/**/*.scss",
), filters="libsass", output="{}.css".format(name), name|string + ".scss" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
{%- endmacro %}
{% set lecture_assets = in_lecture or lecture_mode or request.endpoint == 'lecture.show_lecture_info' %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <base href="{{ request.path }}">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="TIM - The Interactive Material."/>
        <meta name="keywords" content="tim,interactive,material"/>

        <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="shortcut icon" type="image/x-icon"/>
        <meta name="google-site-verification" content="GHYGje2NiYlQM66xyggsnzQht1OHSgtv_9baHbFIklU"/>
        <script src="https://rawcdn.githack.com/zloirock/core-js/v2.5.7/client/shim.min.js"></script>
        <script src="/static/scripts/jspm_packages/system.js"></script>
        <script src="/static/scripts/jspm.config.js"></script>
        {% if request.args.get('unpackjs') is none %}
            <script src="/static/scripts/build/deps.js"></script>
            <script src="/static/scripts/build/tim.js"></script>
        {% endif %}
        <script>
            var IS_TESTING = {{ config.TESTING|tojson }};
            var ANGULARMODULES = {{ (jsMods or [])|tojson }};
            var JSMODULES = {{ (js or [])|tojson }};
            SystemJS.import("tim");
        </script>
        {% block stylesheet %}
            {{ scss(config.SASS_GEN_PATH / prefs.css_combined) }}
        {% endblock %}
        <link rel="stylesheet" href="{{ url_for('3rdparty.static', filename='npm/angular-ui-grid@4.6.3/ui-grid.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('3rdparty.static', filename='npm/katex@0.7.1/dist/katex.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('3rdparty.static', filename='npm/angularjs-color-picker@3.4.8/dist/angularjs-color-picker.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('3rdparty.static', filename='npm/angularjs-color-picker@3.4.8/dist/themes/angularjs-color-picker-bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('3rdparty.static', filename='npm/angularjs-dragula@2.0.0/dist/dragula.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('3rdparty.static', filename='npm/mobile-drag-drop@2.3.0-rc.1/default.css') }}">

        {% block customcss %}
            <style type="text/css">
                {{ prefs.custom_css }}
            </style>
        {% endblock %}

        <script>
            var current_user = {{ current_user.to_json(full=True)|tojson }};
            var other_users = {{ other_users|tojson }};
            var bookmarks = {{ bookmarks|tojson }};
        </script>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                skipStartupTypeset: true
            });
        </script>
        <title>{% block title %}{% endblock %} - TIM</title>
    {% endblock %}
</head>
<body class="{% if show_unpublished_bg %}bg-unpublished{% endif %}">

{# Set default column widths if they are not defined in a child template #}
{% set col_1_lg = col_1_lg|default(2) %}
{% set col_2_lg = col_2_lg|default(8) %}
{% set col_3_lg = col_3_lg|default(2) %}
{% set col_m_lg = col_m_lg|default(12) %} {# col_m_* must be even #}

{% set col_1_md = col_1_md|default(2) %}
{% set col_2_md = col_2_md|default(8) %}
{% set col_3_md = col_3_md|default(2) %}
{% set col_m_md = col_m_md|default(12) %}

{% set col_1_sm = col_1_sm|default(2) %}
{% set col_2_sm = col_2_sm|default(10) %}
{% set col_3_sm = col_3_sm|default(0) %}
{% set col_m_sm = col_m_sm|default(12) %}

{% set col_1_xs = col_1_xs|default(0) %}
{% set col_2_xs = col_2_xs|default(12) %}
{% set col_3_xs = col_3_xs|default(0) %}
{% set col_m_xs = col_m_xs|default(12) %}

{% block body %}
<{% block mainctrl %}div{% endblock %}>
    <div ng-init="$ctrl = $parent.$ctrl" class="container-fluid">
        {% if lecture_assets %}<tim-lecture><div ng-init="lctrl = $parent.$ctrl">{% else %}<div>{% endif %}
            <div class="row hidden-print">
                <div class="col-lg-{{ col_1_lg }}
                            col-md-{{ col_1_md }}
                            col-xs-{{ col_1_xs }}
                            col-sm-{{ col_1_sm }}">
                    <div class="left-fixed-side">
                        <tim-sidebar-menu></tim-sidebar-menu>
                    </div>
                </div>
                <div class="col-lg-{{ col_2_lg }}
                            col-md-{{ col_2_md }}
                            col-xs-{{ col_2_xs }}
                            col-sm-{{ col_2_sm }}">
                    <div class="siteheader">
                        <div class="hidden-lg hidden-md hamburger-placeholder pull-left" style="width: 27px; height: 1px"></div>
                        {% if not hide_links %}
                            <a href="/">
                        {% endif %}
                            <img alt="TIM - The Interactive Material." class="pull-left fullheight"
                                 src="{{ url_for('static', filename='images/tim-logo.svg') }}"
                                 title="TIM"/>
                        {% if not hide_links %}
                            </a>
                        {% endif %}
                        {% if not hide_top_buttons %}
                        {% if session.user_id %}
                        <div style="padding-top:4px;" class="pull-right">
                            <span class="timButton" ng-click="$ctrl.displaySearch = !$ctrl.displaySearch"
                                  title="Display search panel">
                                <i class="glyphicon glyphicon-search"></i>
                            </span>
                        </div>
                        {% else %}
                        <div style="padding-top:4px;" class="pull-right">
                            <span class="timButton" ng-click="$ctrl.displaySearch = !$ctrl.displaySearch"
                                  title="Display search panel">
                                <i class="glyphicon glyphicon-search"></i>
                            </span>
                        </div>
                        {% endif %}
                        {% endif %}
                        <img alt="Jyväskylän yliopisto" class="pull-right" height="42"
                             src="{{ url_for('static', filename='images/jyulogo.png') }}"/>
                        <div>
                            <bootstrap-panel ng-cloak ng-if="$ctrl.displaySearch" show-close="true"
                                             class="search-panel" title="TIM document search"
                                         close-fn="$ctrl.displaySearch = !$ctrl.displaySearch">
                                    <search-box></search-box>
                            </bootstrap-panel>
                        </div>
                        {% if not hide_top_buttons %}
                        <div class="text-center text-nowrap">
                            <login-menu></login-menu>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-{{ col_3_lg }}
                            col-md-{{ col_3_md }}
                            col-xs-{{ col_3_xs }}
                            col-sm-{{ col_3_sm }}">
                    <div class="right-fixed-side">
                        {% block rightside %}{% endblock %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-{{ col_2_lg }} col-lg-offset-{{ col_1_lg }}
                            col-md-{{ col_2_md }} col-md-offset-{{ col_1_md }}
                            col-xs-{{ col_2_xs }} col-xs-offset-{{ col_1_xs }}
                            col-sm-{{ col_2_sm }} col-sm-offset-{{ col_1_sm }}">
                    {% if global_notification %}
                        <div class="global-notification alert alert-info">
                            <i class="glyphicon glyphicon-info-sign"></i> {{ global_notification|safe }}
                        </div>
                    {% endif %}
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-info">
                                    <i class="glyphicon glyphicon-info-sign"></i> {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-{{ col_2_lg }} col-lg-offset-{{ col_1_lg }}
                            col-md-{{ col_2_md }} col-md-offset-{{ col_1_md }}
                            col-xs-{{ col_2_xs }} col-xs-offset-{{ col_1_xs }}
                            col-sm-{{ col_2_sm }} col-sm-offset-{{ col_1_sm }}">
                    <div id="header" class="hidden-print">
                        {% block header %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-{{ col_2_lg }} col-lg-offset-{{ col_1_lg }}
                            col-md-{{ col_2_md }} col-md-offset-{{ col_1_md }}
                            col-xs-{{ col_2_xs }} col-xs-offset-{{ col_1_xs }}
                            col-sm-{{ col_2_sm }} col-sm-offset-{{ col_1_sm }}">
                    <div class="row">
                        <div class="col-lg-{{ col_m_lg }} col-lg-offset-{{ (12 - col_m_lg) // 2 }}
                                    col-md-{{ col_m_md }} col-md-offset-{{ (12 - col_m_md) // 2 }}
                                    col-xs-{{ col_m_xs }} col-xs-offset-{{ (12 - col_m_xs) // 2 }}
                                    col-sm-{{ col_m_sm }} col-sm-offset-{{ (12 - col_m_sm) // 2 }}">
                            <div class="material">
                                {% if lecture_assets %}
                                    <tim-lecture-menu></tim-lecture-menu>
                                {% endif %}
                                {% block content %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% if lecture_assets %}</div></tim-lecture>{% else %}</div>{% endif %}
    </div>
</{{ self.mainctrl() }}>
    <footer class="footer hidden-print">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-{{ col_2_lg }} col-lg-offset-{{ col_1_lg }}
                            col-md-{{ col_2_md }} col-md-offset-{{ col_1_md }}
                            col-xs-{{ col_2_xs }} col-xs-offset-{{ col_1_xs }}
                            col-sm-{{ col_2_sm }} col-sm-offset-{{ col_1_sm }}">
                    {% block footer %}
                        <div class="row">
                            <div class="col-xs-6">
                                <p class="smallNote">TIM last updated:
                                    {% if hide_links %}
                                        {{config.GIT_LATEST_COMMIT_TIMESTAMP}}
                                        <br>Problems and questions: {{config.HELP_EMAIL}}
                                    {% else %}
                                        <a href="/view/tim/muutoshistoria">{{config.GIT_LATEST_COMMIT_TIMESTAMP}}</a>
                                        <br>Problems and questions: <a href="mailto:{{config.HELP_EMAIL}}">{{config.HELP_EMAIL}}</a>
                                    {% endif %}
                                    {% if config.GIT_BRANCH != 'master' %}(branch: {{config.GIT_BRANCH}}){% endif %}
                                </p>
                            </div>
                            <div class="col-xs-6 text-right smallNote">
                                {% if not hide_links %}
                                    <a href="/view/tim/Rekisteriseloste">Tietosuojalauseke, rekisteriseloste ja kerätyt tiedot</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
<div class="device-xs visible-xs-block"></div>
<div class="device-sm visible-sm-block"></div>
<div class="device-md visible-md-block"></div>
<div class="device-lg visible-lg-block"></div>
</body>
</html>
