{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block customcss %}
    {# The logic for custom CSS is dynamic on settings page, so we disable it here. #}
{% endblock %}
{% block head %}
    {{ super() }}
    <script>
        var settings = {{ prefs|tojson }};
        var css_files = {{ css_files|tojson }};
        var notifications = {{ notifications|tojson }};
    </script>
{% endblock %}
{% block content %}
    <tim-settings></tim-settings>
{% endblock %}
